.form_page{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #f4f9ffb9;

    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border: 1px solid red;
    border-radius: 10px;
}
.msg_close_btn{
    cursor: pointer;
    padding: 10px;
}

.form_container{
    min-width: 350px;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #EFF8FF;
    border: 1px solid gray;
    border-radius: 20px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form_title .close_button{
    cursor: pointer;
}

.form span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.form span:last-child{
    justify-content: end;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.form label{
    width: 30%;
    text-align: right;
}
.form input{
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.form span button:last-child{
    background-color: #EFF8FF;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.form span button:first-child{
    background-color: #EEC3E6;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
